#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#quote-container {
  margin-top: 30px;
}

#headshot{
  border-radius: 50%;
  width:150px;
  height:100px;
}

#dog{
    width:40%
}

