html {
    height: 100%;
    margin: 0;
}

body {
    font-family: "Comic Sans MS";
    background-color: cyan;
    color: coral;
}

img {
  max-width: 100%;
  max-height: 100%
}

button {
    font-family: "Comic Sans MS";
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#quote-container {
  margin-top: 30px;
}

#headshot{
  max-width: 100%
}

#dog{
    width:40%
}

#home {
    display: block;
}

#travel-pic {
    max-width: 100%;
    max-height: 100%;
    border-bottom: 10px;
}

#joke-pic {
  max-width: 100%;
  max-height: 100%;
}

/*The styling for all of the tab related items */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #cf7b3c;
  width: 100%
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 24.3px;
  transition: 0.3s;
}

.tab button:hover {
  background-color: #f2be96;
}

.tab button.active {
  background-color: #dea376;
}

.tabcontent {
  display: none;
  padding: 50px 50px;
  border: none;
  border-top: none;
}

