html {
  height: 100%;
  margin: 0;
}

body {
    font-family: "Georgia";
    background-color: white;
    color: black;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

button {
    font-family: "Georgia";
}

h1 {
    text-align: center;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#quote-container {
  margin-top: 30px;
}

#headshot{
  max-width: 100%
}

#dog{
  width:40%
}

#home {
  display: block;
}

#logo {
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
}

#logo:hover {
  -webkit-filter: brightness(70%);
  -moz-filter: brightness(70%);
  -o-filter: brightness(70%);
  -ms-filter: brightness(70%);
  filter: brightness(70%);
    
}

#github {
  padding-right: 5px;
}

#linkedin {
  padding-top: 21px;
  padding-left: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#graphic {
  display: none;
}

#joke-pic {
  max-width: 100%;
  max-height: 100%;
}

#bread {
    cursor: pointer;
}

.col {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.travel-pic {
  max-width: 100%;
  max-height: 100%;
  border-bottom: 10px;
}

/*The styling for all of the tab related items */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #cf7b3c;
  width: 100%
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 24.8px;
  transition: 0.3s;
}

.tab button:hover {
  background-color: #f2be96;
}

.tab button.active {
  background-color: #dea376;
}

.tabcontent {
  display: none;
  padding: 50px 50px;
  border: none;
  border-top: none;
}

.container {
  position: relative;
  width: 100%;
  padding-bottom: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #FFF;
}

.container:hover .overlay {
  opacity: 70%;
}

.content {
  color: black;
  font-size: 20px;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}